.counterButton {
    font-size:30px;
    background-color: #00a5ab;
    width : 80px;
    margin : 10px;
    color : white;
    padding : 15px;
    border-Radius : 30px;
}

.count{
    font-size: 50px;
    padding: 20px;
}
