button{
    font-size:30px;
    margin : 10px;
    color : white;
    padding : 15px;
    border-Radius : 30px;  
}


.counterButton {
    background-color: #00a5ab;
    width : 80px;
}

.count{
    font-size: 50px;
    padding: 20px;
}

.totalCount{
    color: #00a5ab
}


.resetButton {
    background-color: #824;
    width : 120px;
}


